<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Assignment2.css">
</head>
<body>
    <div class="item1">
        <h1> 10,000+ of our users love our products.</h1>
         </div>
         <div class=" item2">
             We only provide great products combined 
             with excellent customer service. <br> See what our satisfied customers are saying about our services
            
            </div>
         <div class=" item3 "><h4 class=>
              Rated 5 Stars in Reviews<div class="stars"> <img src="Untitled.png" alt="" height="20px" width="170px" margin-left="50px"></div></div>
            </h4>
        </div> 

 <div class="f-container">
       
       
        <div class="fitem item4">
            <h3><img src="Priyanka Pic.jpg" alt="" height="65px" width="65px">Sam</h3>
            <h3>Announcement, <i >09 January 2019</i></h3>
            //"We needed the same printed design as the one we had ordered a week prior. Not only did they
            find the original order. but we also received it in time.Excellent!"
        </div>

        <div class="fitem item5">
            <h3><img src="Priyanka Pic.jpg" alt="" height="65px" width="65px">Judo</h3>
            <h3>Announcement, <i>09 January 2019</i></h3>
            //Sales Consultants who give test drives to more than
                60% of customers have 80% more chance of closing the sale.
            
        </div>
        <div class="fitem item6">
            <h3><img src="Priyanka Pic.jpg" alt="" height="65px" width="65px">Judo</h3>
            <h3>Announcement, <i>09 January 2019</i></h3>
            //We also received it in time. Excellent!!!
        </div>

    </div>
    <div class=" item7">
        <h1>NEWS LETTER</h1>
        <h3>You will get Monthly News & Announcement, News Collection & Offers & much more.</h3>
        <button class="button button1">Enter Your Mail Id</button>
        <button class="button button1">Enter Your Phone No</button>
        <button class="button button1">SEND</button>
    </div>

</body>
</html>