<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="FirstTemp.css">

</head> 
<body>
 <div class="container">
        <div class="block1">
            <h1>10,000+ of our users love our products.</h1>
        </div>

       <div class="block2">
          <h4>We only provide great products combined with excellent customer service. See what our satisfied customers are saying about our services</h4>
    
       </div>
      <div class="block3">
          <h4 class="center">Rated 5 Stars in Reviews</h4>
       </div>
    
  
     <div class="block4">
        
        <h2> <img src="Priyanka Pic.jpg" alt="" height="70px" width="70px">
            Colton Smith</h2>
        <h3>Verified Buyer</h3>
        <h4>
            "We needed the same printed design as the one we had ordered a week prior. Not only did they
            findthe original order. but we also received it in time.Excellent!"
        </h4>

      </div>
    </div>
    
</body>
</html>